<br />
<article>
  {{#if draft}}
    <h3>[DRAFT] {{title}}</h3>
  {{else}}
    <h3>{{title}}</h3>
  {{/if}}
  <p>{{{content}}}</p>
  <div>Posted in: {{category}}</div>
  Tags:
  {{#each tags}}
    {{.}},
  {{/each}}
</article>
