<h1>Articles</h1>
{{#if hasPosts}}
  <ul class="post_list">
    {{#each posts}}
      {{#if draft}}
        <li>[DRAFT] <a href="/blog/view/{{urlTitle}}">{{title}}</a></li>
      {{else}}
        <li>{{date}} <a href="/blog/view/{{urlTitle}}">{{title}}</a></li>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  <p>No posts to display.</p>
{{/if}}
