{{#each posts}}
  <br />
  <h1>{{@key}}</h1>
  <ul class="post_list">
    {{#each .}}
      {{#if draft}}
        <li>[DRAFT] <a href="/posts/{{urlTitle}}">{{title}}</a></li>
      {{else}}
        <li><a href="/posts/{{urlTitle}}">{{title}}</a></li>
      {{/if}}
    {{/each}}
  </ul>
  <br />
{{else}}
  <p>No posts to display.</p>
{{/each}}
